.features {
  padding: 4rem 0;
}

.videoContainer {
  height: 530px;
  width: 300px;
  align-items: stretch;
}

.threeJsRender {
  height: 530px;
  width: 300px;
  background-color: #f0f0f0;
  align-items: left;
  justify-content: center;
}

.title {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 1rem 0;
  margin-top: 4rem 0;
}